
.footer{
    color: black;
    text-align: center;
    background-color: rgb(25, 225, 240);
    
}

.footer-section{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-gap: 20px ;
}

.footer-item{
    padding: 16px;
    text-align: left;
   
}
.footer-bottom{
    background-color: aquamarine;
    padding: 15px;
    
}

/* responsive */

@media only screen and (max-width:576px) {
    .footer-section{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (min-width: 577px) and (max-width: 992px) {
    .footer-section{
        grid-template-columns: repeat(2, 1fr);
    }
}
